/* CSS declarations go here */

.tweetbox {
  background-color: rgb(240, 247, 254);
}

.btnGroup {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.charCount {
  margin-right: 10px;
  color: gray;
}

.errCharCount {
  margin-right: 10px;
  color: red;
}

.tweetbox-container {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.tweetbox,.userBox {
  background-color: rgb(240, 247, 254);
}

.tweetbox .btnGroup {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.tweetbox .charCount {
  margin-right: 10px;
  color: gray;
}

.tweetbox .errCharCount {
  margin-right: 10px;
  color: red;
}

.user-container {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.user-container h4 {
  color: gray;
}

.user-container .fullbutton {
  width: 100%;
}

.user-container .input-sm {
  margin-bottom: 5px;
}

.user-container .login {
  margin-bottom: 15px;

}

.user-container .table {
  margin-top: 10px;
}

.user-container .table th, .table td {
   border-top: none;
}

.user-container .tableHeader {
  color: gray;
}

.user-container .tableContent {
  color: rgb(117, 187, 251);
  font-size: 150%;
}

.followBox {
  background-color: rgb(240, 247, 254);
}

.follow-container {
  margin-top: 30px;
  margin-left: 30px;
}

.follow-container .found-user {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.follow-container h5 {
  color: gray;
}

.tweetfeed {
  background-color: rgb(240, 247, 254);
}

.tweetfeed-container {
  margin: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#divUserManag{
  padding: 0px;
}

textarea {
    resize: none;
}

#imgCurrentUser{
  border-right: 1px solid #d8d7d7;
  margin-right: 15px;
  padding-right: 10px;
}

#imgCurrentUserLeft{
  border-left: 1px solid #d8d7d7;
  margin-left: 15px;
  padding-left: 10px;
}

#imgProfile{
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

#centerDivCurrentUser{
  margin-left: 46.5%; 
}

#descCurrentUser{
  padding-left: 5px;
  padding-right: 5px;
}

#divTweetBox{
  padding-right: 10px;
}

#divTweetFeed{
  padding: 0px;
}
/*
#imgLogTwiiterClone{
  padding-top: 10px;
}
*/
.navbar{
  background-color: #fff;
}

#bodyPpal{
  background-color: #e6f7ff;
}

.not-found{
  text-align: center;
  position: absolute;
  top: 0px;
  width: 100%;
}

#spinner {
  height: 300px; 
}

#notificationsCont {
  margin-left: 40px;
  background-color: #1e88e5; 
  width: 50px;
  height: 100%;
}
/*NOTIFICACIONES*/
.badge-notify{
   background: #1e88e5;
   position:relative;
   top: -20px;
   left: -35px;
}

.btn .badge{
  top: -20px;
}

.badge-numFav{
  background: #1e88e5;
  position: relative;
  top: -20px;
  left: -21px;
}

#btnMenuNavBar{
  padding-left: 5px;
  padding-right: 5px;
  width: 42px;
  height: 40px;
}

#dropDownMenu li{
  margin-left: 15px;
}

#headerNavBar{
  float: left;
}

.navbar{
  margin-bottom: 0px;
}
/*
#btnGroupInteractions button{
  background-color: #d9edf7;
  border-top-color: #bce8f1;
  border-right-color: #bce8f1;
  border-radius: 0px;
  border-top-right-radius: 4px;
  height: 40px;
}
*/
#btnNewTwiit{
  margin: 0px;
}

.panel .panel-info{
  margin-bottom: 10px;
}

.heartFav{
  color: #ff1744;
}
.heartNoFav{
  color: #23527c;
}

#currentUserName{
  float: left;
}

.optionsUserProfile{
  margin-top: 20px;
  float: right;
}

.iconToEditImg{
  position: absolute;
  top: 30%;
  left: 35%;
  border: none;

  color: #1666ce;

  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;

  margin-top: 22px;
  margin-right: 2px;
  margin-left: 2px;
}

.fa{
  position: relative;
  top:-4.2px;
}

.fa-facebook{
  top: -2px;
}

.btnOptionsProfile{
  padding-right: 0px;
  padding-left: 0px;
}

.nameUserAndProfile{
  padding-right: 0px;
  padding-left: 0px;
}

.input-group .form-control{
  margin-right: 5px;
  width: 80%;
}

form input:focus:required:valid{
  border: 2px solid #43a047 !important;
}

form input:focus:required:invalid{
  border: 2px solid red;
}

.socialNetwork-container{
  margin: 30%;
}

.removeProfile-container{
  margin: 25%;
}

.removeProfile-container .panel{
  background-color: #d9edf7;
  border: 2px solid #bce8f1;
}

.removeProfile-container img{
  max-width: 50%;
  margin: 25%;
  margin-bottom: 10px;
}

.removeProfile-container p{
  text-align: center;
}

.removeProfile-container i{
  font-size: 20px;
}

.removeProfile-container .btn-danger{
  float: right;
}

.sentPet-container{
  margin: 25%;
}

.sentPet-container .panel{
  background-color: #d9edf7;
  border: 2px solid #bce8f1;
}

.sentPet-container img{
  max-width: 50%;
  margin: 25%;
  margin-bottom: 10px;
}

.sentPet-container p{
  text-align: center;
}

.sentPet-container i{
  font-size: 20px;
}

.sentPet-container .btn-danger{
  float: right;
}

.bubble {
  margin: 50px;
  padding: 20px;
  position: relative;
  border-radius: 8px 8px 8px 8px;
  width: 200px;
}
.bubble:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  border-top: 20px solid blue;
  border-top-color: inherit;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

/*ELIMINAMOS LOS PADDING QUE HACEN QUE NO SE ADAPTE CORRECTAMENTE A LA PANTALLA*/
#containerNavBar{
  margin: 0px;
}

/*EDITAMOS EL ICONO DE LAS NOTIFICACIONES DE PETICIONES WHATSAPP*/
.whatsInbox{
  color: #5cb85c;
}

.whatsBadge{
  background-color: #5cb85c;
}

#sentYes{
  font-size: 15px;
  float: left;
  margin-left: 25%; 
}

#sentNo{
  font-size: 15px;
  float: right;
  margin-right: 25%;
}

#btnGroupResWhatsNotif{
  margin-left: 40%;
}

#remLicense{
  margin-left: 25%;
}

.alignTextToCenter{
  text-align: center;
}

.fieldEmpty{
  border: 2px solid red;
}

.msgFieldEmpty{
  float: right;
  margin-right: 70px;
  margin-top: 8px;
  border: 1px solid #c62828;
  border-radius: 25px;
  background-color: #ef9a9a;
}

.msgFieldEmpty span{
  margin-right: 5px;
  margin-left: 5px;
}

.btnGroupsShowNotif{
  height: 48px;
  background-color: #fff;
  font-size: 22px;
  padding-top: 10px;
  color: #1e88e5;
}

#navBarBtnShowNotif{

  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;

  border:1px solid #ddd;
}

.badge-notify-navbarFooter{
  background: #e53935;

  top: -5px !important;
  left: 0px;
  font-size: 15px;
}

.input-login{
  width: 100% !important;
}

.formLogin{
    text-align: center;
    position: relative;
    margin-top: 20%;
}

.formRegisterNew{
    text-align: center;
    position: relative;
    margin-top: 20%;
}

.titleFormLogin{
  margin-top: 30%;
}

.msgErrorReg{
  color: #e53935;
}

.invalidField{
  border: 2px solid red;
}

.formGroupSearchBar{
  width: 100%;
  margin-bottom: 0px;
}

#searchUser{
  width: 80%;
  margin-right: 15px;
}

#searchBtn{
  width: 15%;
}

.btnOptFol{
  margin-top: 20px;
  margin-left: 10px;
}

.imgUserProfile{
  width: 100%;
  height: 100%;
}

#userDescription{
  font-size: 15px;
  margin-top: 35px;
}

#rightDivCurrentUser{
  padding-left: 0px;
}

#centerDivCurrentUser{
  padding-left: 20px;
  margin-left: 0px;
}

#containerDateTime{
  float: right;
}

.imgProfileNavBar{
  padding-top: 0px !important;
  padding-left: 5px !important;
}

#dialog-showImageProfile{
  top: 15%;
  height: 50%;
  background-color: #e6f7ff;
}

#btnCloseModalImgProfile{
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 45px;
  background-color: #e6f7ff;
  border-radius: 20px;
  padding-left: 8px;
  width: 43px;
  opacity: 1;
  color: #757575;
}

#titleImgUserProfile{
  position: relative;
  top: -20px;
}

.headerConversationsSection{
  margin-top: 15px;
  margin-bottom: 0px;
}

#imgUserCardConversation{
  width: 55px;
  height: 55px;
  padding: 2px;
  border: 1px solid #bce8f1;
}

.lastMessage{
  margin-bottom: 0px;
}

.panel-body-messaging{
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel-info-messaging{
  margin-bottom: 2px !important; 
}

.goToConversation{
  padding-left: 20px;
}

.containerContact{
  padding-top: 13px; 
}

#imgUserCardContact{
  width: 45px;
  height: 45px;
  padding: 2px;
  border: 1px solid #bce8f1;
}

#inputMessage{
  margin-right: 0px;
  height: 100%;
  width: 97%;
  margin-top: 10px;
  margin-left: 10px;
}

#btnSendMessage{
  padding-right: 13px;
}

.headerChat-container{
  margin-left: 0px;
  margin-top: 50px;
  margin-right: 0px;
  border-top: 0px !important;
}

.headerChat-panel-body{
  padding-bottom: 5px;
  padding-top: 0px;
}

.containerHeaderChat{
  padding-top: 13px; 
  padding-left: 0px !important;
}

.messageInChat-container{
  margin: 10px;
  
  margin-bottom: 0px;
  display: inline-block;
}

.panel-messageInChat{
  background-color: rgb(240, 247, 254);
  margin-bottom: 0px;
}

.messageInChat{
  padding-bottom: 5px;
}

.contentMessage{
  margin-bottom: 0px;
}

.messageIsMine{
  float: right;
}

.messageNotMine{
  float: left;
}

.headerMessage{
  color: #337ab7;
  margin-bottom: 5px;
}

#dropdownOptionsConver{
  padding-left: 0px;
  padding-top: 0px;
  background-color: #fff;
  color: #337ab7;
}

.footerMessage{
  margin-bottom: 0px;
  font-size: 10px;
  float: right;
  color: #337ab7;
}

.panel-headerChat{
  margin-bottom: 0px;
  border: 0px; 
}

.containerMessageInThatConver{
  margin-top: 24%;
  margin-bottom: 14%;
}

.ampliacionMarginTopAllViews{
  margin-top: 16%;
}

.spinner{
  top: 150% !important;
}

.restoreValue{
  padding: 0px;
  margin: 0px;
}

.spinner-container{
  margin-top: 65% !important;
}